<% layout("/layouts/boilerplate.ejs") -%>
<body>
     <div class="row">
        <div class="col-7 offset-2">

    <h3>Edit Your listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
         <div>
        <label for="Title" class="form-label">Title</label>
        <input required class="form-control" type="text" name="listing[title]" value="<%= listing.title %>">
        <div class=" valid-feedback">Title look good !</div>
        <div class="invalid-feedback">Please enter  Correctly</div>
    </div>
        <br>
         <div>
        <label for="description" class="form-label">Description</label>
        <textarea required  class="form-control"  type="text" name="listing[description]"><%= listing.description %></textarea>
        </div>
        <br>
        <div class="mb-3">
            <img src="<%=  originalImageUrl %>" class="img-fluid" alt="Listing Image" />
        </div>
        
         <div>
        <label for="image-url" class="form-label">Upload New Image</label>
        <input  class="form-control"  type="file" name="listing[image]" >
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="Price" class="form-label">Price</label>
                <input required  class="form-control"  type="number" name="listing[price]" value="<%= listing.price %>">
                </div>
                <br>
                 <div class="col-8">
                <label for="Country" class="form-label">Country</label>
                <input required  class="form-control"  type="text" name="listing[country]" value="<%= listing.country %>">
                </div>
        </div>
        <br>
         <div>
        <label for="location" class="form-label">Location</label>
        <input required  class="form-control"  type="text" name="listing[location]" value="<%= listing.location %>">
        </div>
        <br>
        <button class=" btn btn-secondary">Edit</button>
        <br>
        <br>
    </form>
    </div>
</div>


</body>


