<% layout("/layouts/boilerplate.ejs") -%>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
     const listing = <%- JSON.stringify(listing) %>;

</script>
<body>
    <div class="row">
        <div class="col-10 offset-2">

       
    <h3><%= listing.title%> :</h3>
    <div class="card listing-card" style=" width: 50rem; ">
        <img src="<%= listing.image.url %>" class="card-img-top"  style="height: 30rem;" alt="<%= listing.title %>">
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.owner.username %></b>
            <br><br>
            <%= listing.description%>
            <br>
            <% if (listing.price !== null && typeof listing.price !== 'undefined') { %>
                <p class="fw-bold">&#8377; <%= listing.price.toLocaleString("en-In") %>/night</p>
            <% } else { %>
                <p class="fw-bold">Price not available</p>
            <% } %>
            <%= listing.location%>
            <br>
            <%= listing.country%>
            <br>
            <%= listing.title%>

        </p>
        </div>
      </div>
    <br>
    <% if (currUser && currUser._id.equals(listing.owner._id)) {%>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-secondary" href="/listings/<%= listing._id %>/edit">Edit this Details</a>
        </div>
        <div class="col-2">
            <form method="POST" action="/listings/<%=listing._id %>?_method=Delete">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <%}%>

    <div class="col-8 mb-3">
        <hr />
        <% if(currUser) {%>
        <h4>Leave a Review</h4>
        <!-- <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validations"> -->
            <form action="/listings/<%= listing.id %>/reviews" method="POST" >

            <div class="mb-3 mb-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-coinFlip">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>           
                </div>
            
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>
        <%}%>
        <hr/>
   
        <% if(listing.reviews.length>0) {%>
        <div class="row">
        <p><b>All Reviews</b></p>
        <% for (review of listing.reviews) {%>
            <div class=" card col-5 ms-3 mb-3">
                <div class="card-body">
                   <i> <b class="card-text"><%= review.author.username %></b></i>
                   <p class="starability-result" data-rating="<%= review.rating %>">stars</p>
                    <p class="card-text"><%= review.comment %></p>
            
                    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        
                    <% } %>
                    
                    
                </div>
            </div>
        <%}%>
    </div>
    <%}%>
    <div class="col-8  mb-3">
        <h3>Where you'll be</h3>
        <div id="map">

        </div>

    </div> 
  
    </div>   
    <br>
    <br>
    
</div>
</div>
</body>
<script src="/js/map.js"></script>
